{% extends "base.html" %} {% block content %}
<main class="flex-grow-1">
    <!--Navbar with htmx, idea from catherine-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="qi-1025"></i>Wildfire Lab
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#siteNavbar"
                aria-controls="siteNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="siteNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button
                            class="nav-link active"
                            aria-current="page"
                            hx-get="resources/html/projectDesign.html"
                            hx-trigger="click"
                            hx-target="#mainContent"
                            hx-swap="inner-html"
                        >
                            Project Design
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            class="nav-link active"
                            aria-current="page"
                            hx-get="resources/html/team.html"
                            hx-trigger="click"
                            hx-target="#mainContent"
                            hx-swap="inner-html"
                        >
                            Team
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            class="nav-link"
                            hx-get="resources/html/wildfireTwin.html"
                            hx-trigger="click"
                            hx-target="#mainContent"
                            hx-swap="inner-html"
                        >
                            Wildfire Twin
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            class="nav-link"
                            hx-get="resources/html/aiTools.html"
                            hx-trigger="click"
                            hx-target="#mainContent"
                            hx-swap="inner-html"
                        >
                            AI Tools
                        </button>
                    </li>
                    <li class="nav-item">
                        <a href="/publishing">
                            <button class="nav-link">
                                Wildfire Publishing
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--GET html, we replace the div with the contents-->
    <div class="container-fluid" id="mainContent">
        <div
            hx-get="resources/html/projectDesign.html"
            hx-trigger="load"
            hx-swap="outerHTML"
        ></div>
    </div>
</main>

<!--Footer For License, do we need to link to a place on click-->
<footer>
    <div class="contianer text-center">
        <p>"Wildfire" icon by Qweather 和风天气 is licensed under CC-BY 4.0.</p>
    </div>
</footer>
{% endblock %}
