<div class="col-12 col-md-12 col-lg-9 col-xl-6">
    <div class="card mb-3 mx-auto">
        <div class="row g-0">
            <div class="col-md-4">
                <img
                    src=" https://placecats.com/400/400"
                    class="img-fluid rounded-start"
                    alt="..."
                />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div
                        class="row g-0 align-items-center justify-content-between"
                    >
                        <h2 class="card-title col-auto">{{fullname}}</h2>
                        <p class="card-subtitle col-auto">{{pronouns}}</p>
                    </div>
                    <div class="row">
                        <h3 class="card-subtitle">{{role}}</h3>
                        <p class="card-text ms-1">{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
